@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "ListAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string delyazi = ""; }
@{string delicon = ""; }
@{string delcolor = ""; }
@{string stayazi = ""; }
@{string staicon = ""; }
@{string stacolor = ""; }
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Admin Kullanıcı Adı</th>
        <th>Şifresi</th>
        <th>Rolü</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>

    @foreach (var item in Model)
    {
        switch (item.AdminStatus)
        {
            case true:
                delyazi = "Pasif Yap";
                delicon = "fas fa-lock";
                delcolor = "btn btn-danger btn-sm";
                stacolor = "badge badge-success";
                staicon = "fas fa-lock-open";
                stayazi = "Aktif";
                break;
            case false:
                delyazi = "Aktif Yap";
                delicon = "fas fa-lock-open";
                delcolor = "btn btn-success btn-sm";
                stacolor = "badge badge-danger";
                staicon = "fas fa-lock";
                stayazi = "Pasif";
                break;
        }
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminPassword</td>
            <td>@item.AdminRole</td>
            <td><span class="@stacolor">@stayazi<i class="@staicon"></i></span></td>
            <td>
                <a href="/Admin/EditAdmin/@item.AdminID" class="btn btn-warning">Yetki Değiştir</a>&nbsp;&nbsp;
                <a class="@delcolor" href="/Admin/DeleteAdmin/@item.AdminID">
                    <i class="@delicon"></i>
                    @delyazi
                </a>
            </td>
        </tr>
    }

</table>
@*razor syntax*@

<a href="/Admin/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>

